$primary-color: #3087ff;
$secondary-color-light: #47a2ff;
$secondary-color-dark: #2966b9;

$error-colour: #ff4033;

@mixin primary-logo($colour) {
  font-family:'Source Sans Pro', serif;
  font-weight:600;
  color: $colour;
}
