@import '../../partials/base';

.form {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}

.atContainer {
  display: flex;
}

.handleAt {
  width: 25px;
  height: 40px;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 5px 0px 0px 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-family: 'Cutive Mono', monospace;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.7);
}

input[name="handle"] {
  width: calc(100% - 30px);
  height: 40px;
  margin-top: 0;
  border: 0;
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  border-radius: 0px 5px 5px 0px;

  &:focus {
    outline: none;
    border-top: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
  }
}

/* Specifically for the Handle input */
.atError {
  border-top: 1px solid #ff4033 !important;
  border-left: 1px solid #ff4033 !important;
  border-bottom: 1px solid #ff4033 !important;
}

.isFocused {
  border-top: 1px solid $primary-color !important;
  border-left: 1px solid $primary-color !important;
  border-bottom: 1px solid $primary-color !important;
}

.handleError {
  border-top: 1px solid #ff4033 !important;
  border-right: 1px solid #ff4033 !important;
  border-bottom: 1px solid #ff4033 !important;
}

.inputHelper {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

.error {
  border: 1px solid $error-colour !important;
}

.response-error {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;

  color: $error-colour;
  font-size: 0.9em;
  line-height: 1em;

}
