header {
  width: 100%;
  height: auto;
  padding-top: 40px;
  border-bottom: 1px solid #d7d7d7;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row {
    width: 100%;
    max-width: 400px;
    display: flex;
  }

  .header-details {
    display: flex;
    align-items: center;

    .profile-picture {
      width: 100px;
      height: 100px;
      border: 1px solid #d7d7d7;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
      }

      svg {
        width: 30px;
        height: 30px;
      }

    }

    .header-detail {
      padding-left: 15px;

      h1 {
        font-size: 1.5em;
        color: rgba(0, 0, 0, 0.9);
      }

      h2 {
        margin-top: 5px;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
      }
    }
  }

  h1 {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.9);
  }

  h2 {
    margin-top: 5px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
  }

  h1, h2, h4, p, .follow, .unfollow, .tweet, .edit {
    font-family: 'Source Sans Pro', sans-serif;
  }

  .account-detail {
    p {
      margin-top: 15px;
    }
  }

  table {

    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;

    th:nth-child(-n+2), td:nth-child(-n+2) {
      padding-right: 10px;
    }

    th {
      font-weight: 400;
      color: #434242;
      font-size: 0.9em;
    }

    td {
      padding-top: 3px;
      font-weight: 600;
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.95);
    }
  }

  .account-buttons {
    margin-top: 25px;

    .follow, .unfollow, .tweet, .edit {
      padding: 10px 0 10px 0;
      min-width: 80px;
      color: white;
      letter-spacing: 2px;
      font-size:0.8em;
    }

    .follow {
      background-color: #3087ff;
    }

    .unfollow {
      background-color: #e4233a;
      padding-left: 10px;
      padding-right: 10px;
    }

    .tweet {
      background-color: black;
      margin-left: 10px;
    }

    .edit {
      padding-left: 10px;
      padding-right: 10px;
      background-color: #3087ff;
    }
  }

  .footer {
    width: 100%;
    margin-top: 30px;
    height: 20px;

    display: flex;

    h4 {
      text-align: center;
      border-bottom: 2px solid #3087ff;
      color: #3087ff;

      margin-bottom: -1px;
    }
  }

}

main {
  width: 100%;
  min-height: calc(60% - 60px);
  background-color: #f0f0f0;
}

.mobile {
  display: block!important;
}

.desktop {
  display: none!important;
}

@media(min-width: 600px) {
  .mobile {
    display: none!important;
  }

  .desktop {
    display: flex!important;
  }

  header {
    .row {
      justify-content: center;
      margin: 0 auto;
    }

    .footer {
      justify-content: center;
    }

    h1, h2, h3, p {
      text-align: center;
    }

    h1 {
      margin-top: 15px;
    }
  }
}
