<main>
  <section class="landing section-2 blue full-height">
    <div class="container">
      <section>
        <h1>Meet Twitter 2.0</h1>
        <h2>A project by Gerry Fletcher.</h2>
        <p>
          Twitter 2.0 was built in Angular 4 and SASS with a Grizzly Jersey Java API.
        </p>
        <a href="http://gerryfletcher.me">Check out my portfolio.</a>
      </section>
    </div>

  </section>
  <section class="signup section-2 full-height">
    <div class="container">
      <section>
        <h1>twitter.</h1>
        <router-outlet></router-outlet>
      </section>
    </div>
  </section>
</main>
