.status-container {
  width: 100%;

  @media(min-width: 600px) {
    width: 50%;
    max-width: 500px;
  }

  min-height: 150px;
  background-color: white;
  border: 1px solid #d7d7d7;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  textarea {
    width: 100%;
    height: 50px;
    resize: none;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    font-family: 'arial', sans-serif;
    color: #444;

    &:focus {
      outline: none;
      border-bottom: 1px solid #47a2ff;
    }
  }

  .tags {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 0 10px 0;
    width: 80px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:0.8em;
    background-color: #47a2ff;

    transition-duration:0.2s;

    &:focus {
      outline: none;
      opacity: 0.8;
    }
  }

}
