<section>
  <header>
    <div class="profile-picture" [routerLink]="['/user', profile.handle]">
      <img src="{{profile.profile_picture}}"/>
    </div>
    <div class="user-details">
      <h1><h3 [routerLink]="['/user', profile.handle]">{{profile.display_name}}</h3></h1>
      <h2><h3 [routerLink]="['/user', profile.handle]">@{{profile.handle}}</h3> - <h3
        [routerLink]="['/tweet', tweet.hash_id]">{{tweet.timestamp}}</h3></h2>
    </div>
  </header>
  <main #tweetbody></main>
  <footer>
    <div class="comment">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24">
        <path d="M22 3v13h-11.643l-4.357 3.105v-3.105h-4v-13h20zm2-2h-24v16.981h4v5.019l7-5.019h13v-16.981z"/>
      </svg>
      <p>48</p>
    </div>

    <div class="retweet">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24">
        <path d="M5 10v7h10.797l1.594 2h-14.391v-9h-3l4-5 4 5h-3zm14 4v-7h-10.797l-1.594-2h14.391v9h3l-4 5-4-5h3z"/>
      </svg>
      <p>11k</p>
    </div>

    <div class="like" [class.liked]="tweet.liked" (click)="likePost()">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24">
        <path
          d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248z"/>
      </svg>
      <p>{{tweet.like_count}}</p>
    </div>

  </footer>
</section>
